<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samratritwik.sit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".NBAActivity" />
        <activity android:name=".GridviewActivity" />
        <activity android:name=".DeptActivity" />
        <activity android:name=".AboutAcitivity" />
        <activity android:name=".FacilityActivity" />
        <activity android:name=".PlacementActivity" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".StudentActivity" />
        <activity android:name=".StddataActivity" />
        <activity android:name=".EeActivity" />
        <activity android:name=".EceActivity" />
        <activity android:name=".ItActivity" />
        <activity android:name=".CeActivity" />
        <activity android:name=".EshActivity" />
        <activity android:name=".HmctActivity" />
        <activity android:name=".MbaActivity" />
        <activity android:name=".CaActivity" />
        <activity android:name=".BhmActivity" />
        <activity android:name=".ComputerActivity"></activity>
    </application>

</manifest>